*.sql
.idea/
.idea/**
.zip
.tar.gz
.text
.txt
.model
.vector
.mod

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod~]
*.so
*.egg
*.egg-info
dist
build

# Bakfile:
*~

# My configurations:
db.ini
deploy_key_rsa
*.mp3
#*.txt
#*.pkl
py_log/
**/py_log/**
**/py_log
**.log**
initdata/
